SQLAlchemy
Flask
inaSpeechSegmenter==0.7.3
youtube_dl
Keras==2.4.3
tensorflow==2.2.0
pandas
gunicorn
flask-cors
pyyaml
protobuf==3.20.0
watchfiles
loguru
mysql-connector-python
psycopg2
pydantic
yt-dlp