@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h5 {
  text-align: center;
}

.title {
  font-family: "Pacifico", cursive;
  color: #1094fb;
}

.skyp {
  font-size: 1.2rem;
  color: #6a759b;
  padding-right: 64px;
}

.jumbotron {
  padding: 16px;
}

.label-holder {
  text-align: center;
}

.search-bar {
  padding-bottom: 24px;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

#timeline {
  height: 64px;
  width: 100%;
  background-color: #fff;
}

#timeline:hover {
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

fieldset {
  display: block;
  /*position: absolute;*/
}

label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  padding: 0px 12px 32px;
}

label > input {
  display: none;
}

label span {
  color: #6a759b;
}

label i {
  display: inline-block;
  width: 48px;
  height: 32px;
  border-radius: 20px;
  vertical-align: middle;
  transition: 0.25s 0.09s;
  position: relative;
  background: #deeff7;
}

label i:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.4);
  transition: 0.15s;
}

label > span.deselected {
  color: #ccc;
}

label > input:checked + i {
  background: #87c3f1;
}

label > input:checked + i + span {
  color: #29316b;
}

label > input:checked + i:after {
  transform: translateX(16px);
}

.label-m {
  display: inline-block;
  background-color: #0000ff;
  height: 64px;
}

#btn-music:after {
  background-color: #0000ff;
}

.label-q {
  display: inline-block;
  background-color: #ffffff;
  height: 64px;
}

#btn-quiet:after {
  background-color: #ffffff;
}

.label-l {
  display: inline-block;
  background-color: #9e9df6;
  height: 64px;
}

#btn-lower:after {
  background-color: #9e9df6;
}

.label-h {
  display: inline-block;
  background-color: #594b63;
  height: 64px;
}

#btn-higher:after {
  background-color: #594b63;
}

.label-n {
  display: inline-block;
  background-color: #d2d2e0;
  height: 64px;
}

.label-edit {
  display: inline-block;
  background-color: #ccc;
  height: 16px;
}

.label-edit:hover {
  background-color: #ffffff;
  background-image: url("edit.svg");
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

#btn-noise:after {
  background-color: #d2d2e0;
}

.label-loader {
  display: inline-block;
  height: 64px;
  animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}

@keyframes backgroundColorPalette {
	0% {
		background: #0000ff;
	}
	25% {
		background: #9e9df6;
	}
	50% {
		background: #594b63;
	}
	75% {
		background: #d2d2e0;
	}
	100% {
		background: #ffffff;
	}
}

footer {
  background-color: #1094fb;
  color: #ffffff;
  font-size: 14px;
}

footer a {
  color: #000099;
}

.editCheckname {
  margin-right: -4px;
  padding-bottom: 3px;
  width: 16px;
  filter: invert(93%) sepia(10%) saturate(609%) hue-rotate(196deg)
    brightness(93%) contrast(89%);
}

.editCheckname:hover {
  filter: invert(49%) sepia(6%) saturate(2136%) hue-rotate(189deg)
    brightness(90%) contrast(83%);
}

.picker {
  padding: 0 8px;
  height: 24px;
  pointer-events: auto;
  border: 4px solid rgba(255, 0, 0, 0);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.picker:hover {
  border: 4px solid #1094fb;
  cursor: pointer;
}

.tippy-box[data-theme~="l"] {
  background-color: #9e9df6;
}

.tippy-box[data-theme~="l"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: #9e9df6;
}

.tippy-box[data-theme~="l"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #9e9df6;
}

.tippy-box[data-theme~="h"] {
  background-color: #594b63;
}

.tippy-box[data-theme~="h"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: #594b63;
}

.tippy-box[data-theme~="h"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #594b63;
}

.tippy-box[data-theme~="m"] {
  background-color: #0000ff;
}

.tippy-box[data-theme~="m"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: #0000ff;
}

.tippy-box[data-theme~="m"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #0000ff;
}

.tippy-box[data-theme~="q"] {
  background-color: #ffffff;
}

.tippy-box[data-theme~="q"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: #ffffff;
}

.tippy-box[data-theme~="q"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #ffffff;
}

.tippy-box[data-theme~="n"] {
  background-color: #d2d2e0;
}

.tippy-box[data-theme~="n"][data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: #d2d2e0;
}

.tippy-box[data-theme~="n"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: #d2d2e0;
}

.length-error {
  padding: 16px;
  text-align: center;
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}