@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.title{
  font-family: 'Pacifico', cursive;
  color: #1094fb;
}

.skyp {
  font-size: 1.2rem;
  color: #6A759B;
  padding-right: 64px;
}

.jumbotron {
  padding: 16px;
}

.search-bar {
  padding-bottom: 24px;
}


.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

#timeline{
  height: 64px;
  width: 100%;
  background-color: #000099;
  margin-bottom: 16px;
}

#timeline:hover {
  cursor: pointer;
}


*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
fieldset {
  display: block;
  /*position: absolute;*/
}
label {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  /*display: block;*/
  margin: 1em;
}
label > input {
  display: none;
}
label span {
  color: #6A759B;
}
label i {
  display: inline-block;
  width: 64px;
  height: 40px;
  border-radius: 20px;
  vertical-align: middle;
  transition: 0.25s 0.09s;
  position: relative;
  background: #deeff7;
}
label i:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.4);
  transition: 0.15s;
}


label > input:checked + i {
  background: #87c3f1;
}
label > input:checked + i + span {
  color: #29316b;
}
label > input:checked + i:after {
  transform: translateX(25px);
}

.label-music {
  display:inline-block;
  background-color: #d2d2e0;
  height: 64px;
}

#btn-music:after {
  background-color: #d2d2e0;
}

.label-noEnergy {
  display:inline-block;
  background-color: #ffffff;
  height: 64px;
}

#btn-quiet:after {
  background-color: #ffffff;
}

.label-male {
  display:inline-block;
  background-color: #9e9df6;
  height: 64px;
}

#btn-lower:after {
  background-color: #9e9df6;
}

.label-female {
  display:inline-block;
  background-color: #594b63;
  height: 64px;
}

#btn-higher:after {
  background-color: #594b63;
}

.label-noise {
  display:inline-block;
  background-color: #666666;
  height: 64px;
}

#btn-noise:after {
  background-color: #666666;
}

footer {
  background-color: #1094fb;
  color: #ffffff;
  font-size: 14px;
}

footer a {
  color: #000099;
}

.editCheckname {
  /*margin-right: -20px;*/
  padding-bottom: 5px;
  width: 20px;
  filter: invert(93%) sepia(10%) saturate(609%) hue-rotate(196deg) brightness(93%) contrast(89%);
}

.editCheckname:hover {
  filter: invert(49%) sepia(6%) saturate(2136%) hue-rotate(189deg) brightness(90%) contrast(83%);
}

