<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skyppy</title>
  <script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
  <script src="{{ url_for('static', filename='long-press-event.min.js') }}"></script>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='skyppy.css') }}" />
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico&display=swap">-->

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png')}}">
  <link rel="manifest" href="{{ url_for('static', filename='/site.webmanifest')}}">

  <style>
    #video {
      text-align: center;
      height: 400px;
      width: 640px;
    }

    .responsive-img {
      max-width: 200px;
      height: auto;
      display: block;
      padding: 15px
    }

    td {
      text-align: center;
      vertical-align: middle;
    }


  </style>
</head>

<body id="pagebody">

  <div class="jumbotron text-center">
    <h1 class="title">Skyppy</h1>
    <p>Cut to the chase!</p>
  </div>
  <main role="main" class="container">
    

    <!-- stats dashboard-->

    <h3>Skyppy'd videos (<span id="total-requests"></span>)</h3>
    <div id="skyppyed-videos" style="max-width:768px; margin:auto">

    </div>



    <!-- end stats dashboard-->


    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">


      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <p>© Copyright:
          <a href="https://biffud.com/">Bad Idea Factory LLC</a>
        </p>
        <p>Source code available on:
          <a href="https://github.com/BadIdeaFactory/skyppy">Github Repository</a>
        </p>


      </div>
      <!-- Copyright -->

    </footer>



    <!-- Development -->
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>


    <!-- Production -->
    <!-- <script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script> -->

    <script src="{{ url_for('static', filename='skyppy_stats.js') }}"></script>
    <script>
      main({{ option | safe}}, {{ data | safe }}) //flask jinja variable
    </script>

</body>

</html>